/* Google Font  */
body{
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.main{
    width: calc(100% - 70px);
    overflow-y: auto;
}
/* Debug */
.debug{
    background-color: red;
    border: 1px solid black;
}

.hidden{
    display: none !important;
}

.bottom{
    height: calc(100vh -70px);
}

.sidebar{
    width: 70px;
    background-image: url(../img/sidebar-bg.png);
}

.main{
    width: calc(100% - 70px);
    overflow-y: auto;
}

.bg_main{
    background-color: #1b72e8;
}
@media screen and (min-width:992){
    .logo-mobile{
        display: none;
    }
    .hidden{
        display: inline !important;
    }
    .main{
        width: calc(100% - 150px);
    }
    .lg_width{
        width: 50% !important;
    }
    
}